<div id="booking-form">
    <%= simple_form_for [@planet, @booking] do |f| %>
    <%= f.input :date_start, as: :string, input_html: {type: :date}, id: 'date-start' %>
    <%= f.input :date_end, as: :string, input_html: {type: :date} %>
    <div class="card-text-booking">
    <div class="price-per-night mt-4">
        <span class="font-weight-bold mr-3">Price per night </span>
        <span id="price-per-night"><%= @planet.price %></span><span> ¥ </span>
    </div>
    <div class="total-days border-bottom mt-2">
        <span class="font-weight-bold mr-3">Total days  </span>
        <span id="days-booked">0<span>
    </div>
    <div class="total-price mt-3">
        <span class="font-weight-bold mr-3">Total price </span> <span id="total-price">0</span>
    </div>
    </div>
    <%= f.submit "Book now", class: "white-btn mt-4"%>
    <% end %>
</div>
