
<h2 class="index-title">These are all the planets in <%=  params.dig(:search, :galaxy) %> </h2>

<div class="index-main-container row">
  <div class="col-2">
    <div class="index-filters">
    <h2>Filters</h2>

    <%= simple_form_for :search, url: planets_path, method: :get do |f| %>
    <div class="form-group filters-box">
      <%= f.input :galaxy, collection: %w[milkyway andromeda ic1101 tadpole], label: false, prompt: 'Select your galaxy', class: 'filter-dropdown'%>
      <%= f.input :radius, label: 'Max. radius (in km)', input_html: { value: @filter.radius } %>
      <%= f.submit 'GO!', name: nil, class: 'red-btn' %>
    </div>
    <% end %>
    </div>
  </div>
  <div class="col-10">
    <div class="cards">
      <% @planets.each do |planet| %>
        <%= link_to(p) do%>
        <div class="card-planet">
          <img src="<%= image_path("planet.jpg")  %>" />
          <div class="card-planet-info">
            <h2> <%= planet.name%> </h2> 
            <p>Welcome to the galaxy of <%= planet.galaxy%>. In this spacious planet of <%= planet.radius%> Km, with nice temperatures of <%=planet.temperature%> ºC you will fully enjoy the <%=planet.atmosphere%> atmosphere.</p>  
          </div>
        </div> 
        <%end%>
      <% end %>
      </div>
    </div>
</div>
