<div class="main-banner">
  <div class="header-content">
    <h1>Select the galaxy of your dreamed planet</h1>
    <div class="header-input">
      <%= simple_form_for :search, url: planets_path, method: :get do |f| %>
      <div class="form-group d-flex input-size">
        <%= f.input :galaxy, collection: %w[milkyway andromeda ic1101 tadpole], label: false, prompt: 'Select your galaxy'%>
        <%= f.submit 'GO!', name: nil, class: 'red-btn' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="home-container">
  <h2>Take a look at this week's top rated planets!</h2>
  <div class="main-carousel">
    <% @planets.each do |p|%>
      <div class="carousel-cell">
        <%= link_to(p) do%> 
          <div class="card-planet">
            <img src="<%= image_path("planet.jpg")  %>">
            <div class="card-planet-info">
            <h2> <%= p.name%> </h2> 
            <p>Welcome to the galaxy of <%= p.galaxy%>. In this spacious planet of <%= p.radius%> Km, with nice temperatures of <%=p.temperature%> ºC you will fully enjoy the <%=p.atmosphere%> atmosphere.</p>  
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

<%= render 'shared/footer'%>